extends ../base.jade

block content
  h3 Albums

  a(href="/albums/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add album

  each album in albums
    .media
      a(href="/albums/#{album.id}")
        .media-left
            img(src=album.imageUrl || "http://placekitten.com/g/128/192")
        .media-body
          h4= album.title
          p= album.author

  if !albums.length
    p No albums found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
